<div class="m-3" id="resultsContainer">
  
  <div class="card">
    <div class="card-header fs-2 text-center text-light">
      Search Results
    </div>
    {{#if playerResults}}
      <div class="card-body">
        {{#each playerResults as |player|}}
        <h4 class="card-text">{{player.first_name}} {{player.last_name}}</h4>
        <h5 class="card-text">Team: {{player.team.full_name}}</h5>
        <h5 class="card-text">Position: {{#if player.position}} {{player.position}} {{else}} N/A {{/if}}</h5>
        {{#if player.height_feet}}
        <h5 class="card-text">Height: {{player.height_feet}}' {{player.height_inches}}"</h5>
        {{/if}}
        {{#if player.weight_pounds}}
        <h5 class="card-text">Weight: {{player.weight_pounds}} lbs</h5>
        {{/if}}
        <button type="button" class="btn btn-primary" data-player_id="{{player.id}}" data-first_name="{{player.first_name}}" data-last_name="{{player.last_name}}" id="savePlayerBtn">Save Player</button>
        <hr class="py-2">
        {{/each}}
      </div>
    {{/if}}

    {{#if teamData}}
      <div class="card-body text-center">
          <h1>{{teamData.full_name}}</h1>
          <h2>Conference: {{teamData.conference}}</h2>
          <h2>Division: {{teamData.division}}</h2>
          <img data-team_id="{{teamData.id}}" id="teamImg">
      </div>
    {{/if}}
  </div>
</div>

{{#if teamData}}
<div class="m-3" id="recentGamesContainer">
  <div class="card">
    <div class="card-header fs-2 text-center text-light">
      Recent Games
    </div>
    <div class="card-body">
      {{#each teamGames as |game|}}
        <div class="card my-4">
          <div class="card-header text-center text-light">
            <h2>{{game.home_team.full_name}} VS. {{game.visitor_team.full_name}}</h2>
            <h5>{{game.date}}</h5>
          </div>
          <div class="card-body d-flex justify-content-center m-3">
            <div class="card text-center col-6 p-3 m-3">
              <h4>Home</h4>
              <h1>{{game.home_team.full_name}}</h1>
              <img data-team_id="{{game.home_team.id}}" id="teamImg">
              <h2>Score: {{game.home_team_score}}</h2>
            </div>
            
            <div class="card text-center col-6 p-3 m-3">
              <h4>Away</h4>
              <h1>{{game.visitor_team.full_name}}</h1>
              <img data-team_id="{{game.visitor_team.id}}" id="teamImg">
              <h2>Score: {{game.visitor_team_score}}</h2>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}

{{> axios}}
<script src="../js/savePlayer.js"></script>
<script src="../js/teamImg.js"></script>